@import "tailwindcss";

@layer base {
  .root {
    isolation: isolate;
  }

  body {
    @apply antialiased min-h-screen min-w-screen text-white;
  }

  main {
    @apply w-full root headlessui-portal-root;
  }

  header {
    @apply bg-black/70 shadow-md fixed top-0 left-0 w-full;
  }

  footer {
    @apply fixed bottom-0 left-0 w-full h-8 bg-black/70 shadow-md;
  }
}

@layer components {
}

@layer utilities {
}
