@import "tailwindcss";

@theme {
  --text-xs: 18px;
}

@layer base {
  .root {
    isolation: isolate;
  }

  body {
    @apply antialiased min-h-screen min-w-screen text-white bg-black;
    @apply text-xs sm:text-sm md:text-base lg:text-lg;
  }

  main {
    @apply w-full;
  }

  header {
    @apply bg-black/70 fixed z-1;
    @apply top-0 bottom-auto right-auto p-2 m-2 rounded;
  }

  nav {
  }

  nav > ul {
    @apply flex font-light;
    @apply space-x-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-lg md:text-xl lg:text-2xl;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }
  h2 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }
  h3 {
    @apply text-lg sm:text-xl md:text-2xl;
  }

  h6 {
    @apply text-center font-light text-xs md:text-sm lg:text-base;
  }

  a {
    @apply hover:underline;
  }

  noscript {
    @apply flex justify-center h-screen text-center;
  }

  canvas {
    @apply z-0;
    @apply h-dvh w-dvw;
  }
}

@layer components {
  /* About */
  .about {
    @apply md:mx-auto max-w-3xl p-4 md:p-12 lg:p-18 space-y-6;
  }
}

@layer utilities {
}
