@import "tailwindcss";

@theme {
  --text-xs: 18px;
}

@layer base {
  .root {
    isolation: isolate;
  }

  body {
    @apply antialiased min-h-screen min-w-screen text-white bg-black;
    @apply text-xs sm:text-sm md:text-base lg:text-lg;
  }

  main {
    @apply w-full;
  }

  header {
    @apply bg-black/70 fixed z-1;
    @apply bottom-8 right-0 left-0 p-2;
    @apply sm:top-0 sm:bottom-auto sm:right-auto sm:p-2 sm:m-2 sm:rounded;
  }

  nav {
  }

  nav > ul {
    @apply flex font-light;
    @apply sm:space-x-2;
  }

  nav > ul > li {
    @apply flex-auto;
    @apply text-center;
  }

  footer {
    @apply fixed bottom-0 left-0 w-full h-8 bg-black/70 mx-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-lg md:text-xl lg:text-2xl;
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl;
  }
  h2 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }
  h3 {
    @apply text-lg sm:text-xl md:text-2xl;
  }

  h6 {
    @apply text-center font-light text-xs md:text-sm lg:text-base;
  }

  a {
    @apply hover:underline;
  }

  noscript {
    @apply flex justify-center h-screen text-center;
  }

  canvas {
    @apply z-0;
    @apply h-dvh w-dvw;
  }
}

@layer components {
  /* About */
  .about {
    @apply md:mx-auto max-w-3xl p-4 md:p-12 lg:p-18 space-y-6;
  }

  /* Button */
  .btn {
    @apply pointer-events-auto size-10 sm:size-7 rounded transition-colors duration-300 bg-gray-900 hover:bg-sky-600 active:bg-sky-100;
  }

  .btn[data-toggled="true"] {
    @apply bg-sky-600;
  }
}

@layer utilities {
}
